.cart {
  position: sticky;
  top: 20px;
  background-color: rgba(255, 153, 0, 0.3);
  padding: 25px;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart h4 {
  margin-bottom: 10px;
}

.cart p {
  margin: 5px 0;
}

.cart h6 {
  margin-top: 10px;
  font-weight: bold;
}
